<hr>
  <h2><%= link_to "Week " + booking.start_date.strftime("%W"), booking %> 
      (<%= booking.start_date.strftime("%d-%m") + " - " +  booking.end_date.strftime("%d-%m") %>)
  </h2>
  <p><%= booking.persons %> persons -  
    '<%= Payment.find(booking.payment_id).title %>' and '<%= booking.status %>'.
  </p>
