<!--
<h1>Tenant <%= @tenant.name %> <span class="headactions">
    </span>
</h1>
-->
<%= link_to "Edit", edit_tenant_path(tenant) %> |
<%= link_to "Delete", tenant, :confirm => "Are you sure?", :method => :delete %>

<div id="tenant" style="overflow:hidden;">
  
  <div id="tenant_title">
    <img src="<%= gravatar_url(@tenant.email) %>" />
    <h2><%= @tenant.name %></h2>
    <p>
      T: <%= @tenant.phone %><br>
      E: <%= @tenant.email %>
    </p>
  </div>
  
  <div id="tenant_data">
    <figure>
      <a id="tenant_map" href="http://maps.google.com/maps?q=<%= @tenantmapurl %>" target="_blank"><img src="https://maps.google.com/maps/api/staticmap?visible=<%= @tenant.city %>+&amp;size=190x90&amp;sensor=false&amp;maptype=terrain&amp;markers=size:small|color:red|<%= @tenantmapurl %>" border="0"></a>
    </figure>
    <strong><%= @tenant.address %><br>
    <%= @tenant.city %></strong><br>
    <a href="http://maps.google.nl/?q=<%= @tenant.address %>+<%= @tenant.city %>">Google map</a>
    <br><br>
    <em><%= @tenant.remarks %></em>
  </div>
</div>