<h1>Tenant <%= @tenant.name %></h1>

<div id="tenant" style="overflow:hidden;">
  
  <div id="tenant_picture">
    <img src="<%= gravatar_url(@tenant.email) %>" />
    <div class="actions">
      <%= link_to "Edit", edit_tenant_path(tenant) %>
      <%= link_to "Delete", tenant, :confirm => "Are you sure?", :method => :delete %>
    </div>
  </div>
  
  <div id="tenant_data">
    
    <table>
      <tr>
        <th>Name:</th>
        <td><%= @tenant.name %></td>
      </tr>

    <tr>
      <th>Address:</th>
      <td><%= @tenant.address %></td>
    </tr>

    <tr>
      <th>City:</th>
      <td><%= @tenant.city %></td>
    </tr>

    <tr>
      <th>Email:</th>
      <td><%= @tenant.email %></td>
    </tr>

    <tr>
      <th>Phone:</th>
      <td><%= @tenant.phone %></td>
    </tr>

    <tr>
      <th>Remarks:</th>
      <td><%= @tenant.remarks %></td>
    </tr>
  </table>

  </div>
</div>