<h1>Listing tenants</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Phone</th>
    <th>Bookings</th>
    <th>Comments</th>
  </tr>

<% @tenants.each do |tenant| %>

  <tr>
    <td><%= link_to tenant.name, tenant %></td>
    <td><%= tenant.city %></td>
    <td><%= tenant.phone %></td>
    <td><%= tenant.bookings.count.to_s + " bookings" if tenant.bookings.count > 0%></td>
    <td>
      <%= tenant.comments.count.to_s + " comments" if tenant.comments.count > 0 %>
    </td>
  </tr>
<% end %>
</table>

<br />
<% content_for :aside do %>
<%= link_to 'New Tenant', new_tenant_path, {:class => 'button'} %>
<% end %>