<h1>Sign in</h1>

<%= content_tag :p, notice, :class => 'notice' if notice.present? %>
<%= content_tag :p, alert, :class => 'alert' if alert.present? %>    

<%= form_tag session_path do %>
  <div id="user_login_fields">
    <div id="user_login" class="field">
      <%= text_field_tag :username, nil, :placeholder => t('login.username'), :size =>12, :autocomplete => 'on' %>
    </div>
    <div id="user_password" class="field">
      <%= password_field_tag :password, nil, :placeholder => t("login.password"), :size =>12 %>
    </div>
    <div class="actions">
      <%= submit_tag t('login.login') %>
    </div>
  </div>
<% end %>