<div class="comment">
  <div class="avatar">
    <img src="<%= gravatar_url(comment.user.email.to_s, {:size => 55}) %>" />    
  </div>
  <p class="comment_info">
    <strong><%= comment.user.name %></strong> on  <%= comment.created_at.to_s(:long) %>

    <% if comment.owned_by? current_user %>
    <span class='actions'>
      <%= link_to 'delete', 
        [@tenant, comment],
        :confirm => 'Are you sure?', 
        :method => :delete,
        :class => 'delete' %> 
    </span>
    <% end %>

  </p>
  <p class="comment_body">
    <%= comment.body %>
  </p>
</div>