  <tr>
    <td><%= link_to "Week " + booking.start_date.strftime("%W"), booking %> 
    (<%= booking.start_date.strftime("%d-%m") + " - " +  booking.end_date.strftime("%d-%m") %>)
    </td>
    <td><%= link_to booking.tenant.name, booking.tenant %></td>
    <td><%= booking.persons %></td>
    <td><%= booking.booking_type %></td>
    <td>
      <%= Payment.find(booking.payment_id).title %>
    </td>
    <td><%= booking.status %></td>
  </tr>  