<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <legend>Information of the booking</legend>
  <div class="field">
    <%= f.label :tenant_id %>

      <%= f.select :tenant_id, 
        Tenant.all.collect {|tenant| [tenant.name, tenant.id]}, 
        {
          :prompt         => true
        }
        %>
  
  </div>
  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_select :start_date, { 
      :order  => [:day, :month, :year],
      :start_year => Time.now.year,
      :prompt => true      
    } %>
  </div>
  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date, { 
      :order  => [:day, :month, :year],
      :start_year => Time.now.year,
      :prompt => true
    } %>
  </div>
  <div class="field">
    <%= f.label :price %>
    &euro; <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :persons %>
    <%= select_tag "booking[persons]", options_for_select( (1..10).to_a)  %>
  </div>
  <div class="field">
    <%= f.label :booking_type %>
    <%= f.text_field :booking_type %>
  </div>
  <div class="field">
    <%= f.label :payment_id %>
    <%= f.select :payment_id, 
        Payment.all.collect {|payment| [payment.title, payment.id]}, 
        {
          :prompt         => true
        }
        %> <%= link_to "New payment type?", :controller => "payments", :action => "new" %>
    
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  </fieldset>
  <fieldset class="action">
    <%= f.submit %>
  </fieldset>
<% end %>
