<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tenant_id %><br />

      <%= select_tag "booking[tenant_id]", 
        options_from_collection_for_select(Tenant.all, "id", "name"), 
        {
          :include_blank  => true,
          :prompt         => true
        }
        %>
    
    <%# = f.text_field :tenant_id %>
    
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, { 
      :order  => [:day, :month, :year],
      :prompt => true      
    } %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, { 
      :order  => [:day, :month, :year],
      :prompt => true
    } %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :persons %><br />
    <%= select_tag "booking[persons]",
     (1..4).to_a  %>
    <%= f.text_field :persons %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :payment %><br />
    <%= f.text_field :payment %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
