<h1><%= t '.title' %></h1>

<table>
  <tr>
    <th>Week</th>
    <th><%= t 'booking.tenant' %></th>
    <th><%= t 'booking.period' %></th>
    <th><%= t 'booking.length' %></th>
    <th><%= t 'booking.price' %></th>
    <th><%= t 'booking.short.persons' %></th>    
    <th><%= t 'booking.short.type' %></th>
    <th><%= t 'booking.short.payment' %></th>
    <th><%= t 'booking.short.status' %></th>
    <th></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.start_date.strftime("%W") %></td>
    <td><%= link_to booking.tenant.name, booking.tenant %></td>
    <td><%= booking.start_date.strftime("%d-%m-%y") %> - <%= booking.end_date.strftime("%d-%m-%y") %></td>
    <td><%= distance_of_time_in_words(booking.start_date, booking.end_date) %></td>
    <td><%=h number_to_currency(booking.price, :precision => 0, :unit => "€")+",-" %></td>
    <td><%= booking.persons %></td>
    <td><%= booking.booking_type %></td>
    <td><%= booking.payment %></td>
    <td><%= booking.status %></td>
    <td><%= link_to 'Show', booking %>  <%= link_to 'Destroy', booking, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking', new_booking_path %>
