
  <h1>Show booking <span class="headactions"><%= link_to 'Edit', edit_booking_path(@booking) %> | <%= link_to 'Delete', @booking, :confirm => "Are you sure?", :method => :delete %></span></h1>

  <div id="booking_details">
    <table>
      <tr>
        <th>Tenant:</th>
        <td><%= link_to @booking.tenant.name, @booking.tenant %></td>
      </tr>
      <tr>
        <th>Periode:</th>
        <td>
          <%= @booking.start_date.strftime("%d-%b-%Y") %> till
          <%= @booking.end_date.strftime("%d-%b-%Y") %>
          <em>(<%= distance_of_time_in_words(@booking.start_date, @booking.end_date) %>)</em>
        </td>
      </tr>
      
      <tr>
        <th>Price:</th>
        <td><%= h number_to_currency(@booking.price, :precision => 0, :unit => "€")+",-" %></td>
      </tr>

      <tr>
        <th>Persons:</th>
        <td><%= @booking.persons %></td>
      </tr>

      <tr>
        <th>Type:</th>
        <td><%= @booking.booking_type %></td>
      </tr>
      <tr>
        <th>Payment:</th>
        <td><%= Payment.find(@booking.payment_id).title %></td>
      </tr>
      <tr>
        <th>Status:</th>
        <td><%= @booking.status %></td>
      </tr>
    </table>
    
  </div>

