<!DOCTYPE html>
<html>
<head>
  <title>BookIt!</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <header>Book It - a simple reservation manager</header>
  <nav>
    <ul>
      <%= content_tag :li, link_to( t('navigation.dashboard'), :controller => "dashboard") %>
      <%= content_tag :li, link_to( t('navigation.tenants'), :controller => "tenants") %>
      <%= content_tag :li, link_to( t('navigation.bookings'), :controller => "bookings") %>
    </ul>
  </nav>
  <section>
    <%= yield %>
  </section>
  <footer>
    Book It is created by <a href="http://twitter.com/lekkerduidelijk">@lekkerduidelijk</a> - <%= l Time.now %>
  </footer>
</body>
</html>
